<% layout('layouts/boilerplate')%>
<div class="row">
  <div class="col-md-6 offset-md-3 mb-6">
    <div class="card shadow">
      <div class="card-body">
        <h4 class="card-title mb-3">New Campground</h4>
        <form
          action="/campgrounds"
          method="POST"
          novalidate
          class="validated-form"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label class="form-label" for="title">Title</label>
            <input
              class="form-control"
              type="text"
              name="campground[title]"
              id="title"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="location">Location</label>
            <input
              class="form-control"
              type="text"
              name="campground[location]"
              id="location"
              required
            />
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <label class="form-label" for="price">Campground Price</label>
            <div class="input-group">
              <span class="input-group-text" id="price-label">$</span>
              <input
                type="text"
                class="form-control"
                id="price"
                name="campground[price]"
                placeholder="0.00"
                aria-label="price"
                aria-describedby="price-label"
              />
              <div class="valid-feedback">Looks good!</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="formFileMultiple" class="form-label"
              >Add Campground Images</label
            >
            <input
              class="form-control"
              name="image"
              type="file"
              id="formFileMultiple"
              multiple
            />
          </div>
          <div class="mb-3">
            <label class="form-label" for="description">Description</label>
            <textarea
              class="form-control"
              type="text"
              name="campground[description]"
              id="description"
              required
            ></textarea>
            <div class="valid-feedback">Looks good!</div>
          </div>
          <div class="mb-3">
            <button class="btn btn-success">Add Campground</button>
          </div>
        </form>
        <a href="/campgrounds">All Campgrounds</a>
      </div>
    </div>
  </div>
</div>
